<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "悩み相談", new_problem_path %>
  </div>
</div>

<div class="rooms">
  <% current_user.problems.each do |problem| %>
    <div class="room">
      <div class="room-name">
        <%= link_to problem.title, problem_path(problem.id) %>
      </div>
    </div>
  <% end %>
</div>