<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="title">
          <%= link_to "〜お悩み相談室〜", root_path %> 
        </div>
      </div>
    </div>
    <div class="top-messages">
      <div class="top-page">＜お悩み一覧＞</div>
      <% @problems.each do |problem| %>
        <div class="room">
          <div class="rooms-name">
            ⚫︎　<%= link_to problem.title, problem_path(problem.id) %>　　
            <%= link_to problem.user.name, user_path(problem.user) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
