<div class="wrapper">
  <div class="side-bar">
    <%= render "problems/side_bar" %>
  </div>
  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="header-title">
          〜お悩み相談室〜
        </div>
      </div>
    </div>
    <div class="messages">
      
    </div>
  </div>
</div>
