.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px 0 40px;
  background-color: darkorange;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.create-room a {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}

.my-problem{
  text-align: center;
  font-size: 20px;
  color: white;
}

.rooms {
  background-color: rgb(253, 170, 69);
  height: calc(100vh - 100px);
  padding: 50px 40px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name{
  font-size: 20px;
  color: deepskyblue;
}

.room-name  a{
  color: white;
}

.rooms-name{
  color: dimgrey;
}

.rooms-name  a{
  font-size: 20px;
  color: dimgray;
}

.chat {
  background-color: white;
  width: calc(100vw - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 146, 19);
}

.title {
  font-size: 24px;
  margin-top: 36px;
}

.title a{
  color: white;
}

.header-title {
  color: white;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  padding: 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}

.problem-content {
  height: 130px;
  padding: 10px;
  background-color:#FAFAFA;
  color: dimgray;
}

.messages {
  background-color:white;
  height: calc(100vh - 100px - 130px - 90px);
  padding: 30px 40px 0;
  overflow: scroll;
}

.top-page {
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: darkorange;
}

.top-messages {
  background-color: white;
  height: calc(100vh - 100px);
  padding: 30px 200px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #10a1f5;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}